# Ignore the dotfiles repository itself to avoid any recursion
dotfiles/

# We don't need information about the compiled plugins
.config/nvim/plugin/packer_compiled.lua

# DO NOT COMMIT SECRETS
.gnupg/
.ssh/*
!.ssh/config
