[core]
	editor = $(which vim)
[user]
	email = git@lukaszanner.de
	name = Lukas Zanner
	signingkey = 6745256B81327E7E!
[commit]
	gpgsign = true
[init]
	defaultBranch = main
[rerere]
	enabled = true
[tag]
	forceSignAnnotated = true
[alias]
	a = add

	c = commit -v
	ca = commit --amend
	can = commit --amend --no-edit

	s = status

	sw = switch
	swc = switch -c
