[core]
    editor = $(which nvim)
[user]
    email = git@lukaszanner.de
    name = Lukas Zanner
    signingkey = 6745256B81327E7E!
[commit]
    gpgsign = true
[init]
    defaultBranch = main
[pull]
	rebase = true
[rerere]
    enabled = true
[tag]
    forceSignAnnotated = true
[alias]
    a = add
    ai = add -i
    ap = add -p

    c = commit -v
    ca = commit --amend
    can = commit --amend --no-edit

    f = fetch
    fa = fetch --all
    fp = fetch --prune
    fap = fetch --all --prune

    p = pull
    pu = push
    puf = push --force-with-lease
    puff = push --force

    r = rebase
    ra = rebase --abort
    rc = rebase --continue
    ri = rebase -i

    s = status

    sw = switch
    swc = switch -c

    fl = log -u
    ll = log --pretty=format:"%C(green)%h\\ %C(yellow)[%ad]%Cred%d\\ %Creset%s%Cblue\\ [%an]" --decorate --date=relative
    lli = log --pretty=format:"%C(green)%h\\ %C(yellow)[%ad]%Cred%d\\ %Creset%s%Cblue\\ [%an]" --decorate --date=iso
    ls = log --pretty=format:"%h\\ %s\\ [%cn]"
